@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans serif;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  background-color: #333;
  color: white;
  font-family: "Vend Sans", sans-serif;
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 20px;
  margin-right: 30px;
  cursor: pointer;
  height: 36px;
}

.navbar ul li:hover {
  scale: 1.2;
  background-color: #33333385;
}

h1 {
  color: red;
}

.section-container {
  margin-top: 20px;
  font-size: 20px;
  font-family: "DM Serif Text", serif;
}

.office-image {
  height: 400px;
  width: 600px;
}

.staff-pic {
  height: 200px;
  width: 200px;
}

.staff-list {
  list-style: none;
}

.staff-desc {
  font-size: 18px;
  margin-left: 35px;
}

.pastwork-image {
  width: 500px;
}

.pastwork-list {
  list-style: none;
}

.pastwork-list li {
  margin-bottom: 10px;
}

.company-picture {
  height: 400px;
  width: 600px;
}

.external-links a {
  text-decoration: none;
}

.external-links li {
  margin-bottom: 12px;
}

.home-page {
background: url('./company-picture.png');
width: 100%;
height: 500px;
background-size: cover;
background-repeat: no-repeat;
box-sizing: border-box;
}